In [2]:
# import libraries ---------------------------------------------------------------------
import pandas as pd

In [3]:
# 

listingsUpdate = pd.read_csv("C:\\Users\\Rosan\\Documents\\GitHub\\listing_update\\listing_update.csv", sep='\t')
listingsUpdate.head()

,Unnamed: 0,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,host_is_superhost,nr_of_bathrooms,bedrooms,accommodates,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,1,25659,107347,Lisboa,Santa Maria Maior,38.71241,-9.12706,4,50,2,...,1,1.0,1.0,3,4.81,4.88,4.97,4.97,4.88,4.82
1,2,29248,125768,Lisboa,Santa Maria Maior,38.71082,-9.12719,4,60,5,...,0,1.0,1.0,4,4.56,4.38,4.65,4.74,4.82,4.61
2,3,29396,126415,Lisboa,Santa Maria Maior,38.71156,-9.12987,4,60,2,...,1,1.0,1.0,4,4.80,4.82,4.88,4.91,4.88,4.75
3,4,29720,128075,Lisboa,Estrela,38.71108,-9.15979,4,957,2,...,0,8.0,9.0,16,4.92,4.84,4.97,4.97,4.83,4.60
4,5,29915,128890,Lisboa,Avenidas Novas,38.74571,-9.15264,4,50,5,...,1,1.0,1.0,3,4.68,4.88,4.79,4.74,4.67,4.72

In [4]:
# Vizualizing the host with the highest amount of appartments offered 

#host_id
listingsUpdate['host_id'].value_counts()

listingsUpdate

104083974    68
5691663      59
2372087      50
17638903     47
22192546     42
             ..
170495540     1
31818933      1
182375473     1
208094267     1
191396323     1
Name: host_id, Length: 4486, dtype: int64